html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #252525;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.loading {
  align-self: center;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  margin: 20px 10px 10px 0;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.small {
  margin: 10px 5px 5px 0;
  padding: 5px;
  width: 100px;
  font-size: 13px;
}

.search-input {
  width: 95%;
  margin: 10px auto 50px auto;
  box-sizing: border-box;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.emphasize {
  font-weight: bold;
  font-style: italic;
}

.dashboard-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin: 20px 0;
}

.dashboard-toggle button {
  border: none;
  background: transparent;
  font-size: 22px;
}

.dashboard-list {
  font-size: 18px;
  letter-spacing: .4px;
}

.dashboard-list a:hover {
  font-weight: 600;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  padding: 20px 0;
}

.nav li {
  padding: 10px;
}

.nav li:first-child {
  padding-left: 0;
}

.book-container {
  display: flex;
  margin-bottom: 50px;
}

.book-container ul {
  flex: 1;
  padding-left: 20px;
}

.book-title {
  font-size: 35px;
}

.book-authors {
  margin: 5px 0;
}

.book-rating {
  margin-bottom: 10px;
}

.react-rater {
  display: inline-block;
  line-height: normal;
}
.react-rater a {
  cursor: pointer;
  color: #ccc;
  position: relative;
}
.react-rater a.is-active {
  color: #fc6;
}
.react-rater a.is-active-half:before {
  color: #fc6;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}
.react-rater a.is-disabled {
  cursor: default;
}